.clear{
    clear:both;
}


#top_right{
    width:400px;
    float: right;
    margin-top:15px;
    font-size: 13px;
}

#menu{
    background-color: rgba(28, 63, 9, 0.425);
    padding: 10px 0px;
    text-align: center;
}
#menu a{
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.616);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
#menu a:hover{
    color: #999;
}
#menu .all{
    color: blanchedalmond
}
#search{
    position: absolute; 
    left: 45%; 
    top: 10%; 
    text-align: right;
}

.book{
    float: left;
    width: 50%;
    text-align: center;
    padding:20px 0px;
}
.bookimg img{
    width: 260px;
    height: 400px;
}
#jumpPage{
    position:fixed;
    bottom:20%;
    right:40%;
    text-align: center;
    margin: 10px;
}
#jumpPage a{
    padding:2px 6px;
    border: 1px solid #9AAFE5;
    text-decoration: none;
    color:#9AAFE5;
}
#jumpPage a:hover{
    color:#2B66A5;
    border: 1px solid #2B66A5;
}

.table{
    position: absolute; 
    left: 25%; 
    top: 20%; 
    margin: auto;
}
